@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #dfdfdf;
    --foreground: hsl(0, 0%, 9%);
    --foreground75: hsla(0, 0%, 9%, 0.75);
    --foreground50: hsla(0, 0%, 9%, 0.5);
    --foreground25: hsla(0, 0%, 9%, 0.25);
    --foreground4: hsla(0, 0%, 9%, 0.04);
}

@layer components {
    .customWidth {
        @apply w-11/12 max-w-[640px] mx-auto;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}