@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: hsl(0, 0%, 95%);
    --foreground: hsl(0, 0%, 9%);
    --foreground75: hsla(0, 0%, 9%, 0.75);
    --foreground50: hsla(0, 0%, 9%, 0.5);
    --foreground25: hsla(0, 0%, 9%, 0.25);
}

@layer components {
    .customWidth {
        @apply w-11/12 max-w-[640px] mx-auto;
    }
    .customBtnStylesPrimary {
        @apply bg-foreground text-background py-[10px] px-[24px] rounded-lg;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
